# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pytest_cache/
.pytest_cache/
*.cover
.coverage
coverage.xml
*.egg-info/
.eggs/
build/
dist/
*.egg
pip-wheel-metadata/
htmlcov/
env/
.venv/
venv/
ENV/
.env
.venv
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Project artifacts
forecast_output.json
